*.bnf
*.map
*.ts
*.md
*.yml
*.markdown
*.mjs
*.cjs
*.swf
*.cmd
*.ps1
MEVN/VueJS/demo/node_modules/minimist/.nycrc
MEVN/VueJS/demo/node_modules/object-inspect/.nycrc
MEVN/VueJS/demo/node_modules/object-keys/.eslintrc